
/* SEARCH COMPONENTS */

.searchTitle{
    font-size: 50px;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
}

.checkboxPokemonDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.checkboxEnergyDiv {
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
}

.checkboxTrainerDiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filterLabel {
    font-weight: bold;
}

.checkboxLabel {
    display:flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    font-weight: bold;
    font-size: 60%;
    color: rgb(228, 238, 255);
    /* size:70px; */
    /* width: 10%; */
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(33, 109, 250);
    margin-top: 10px;
    margin-right: 20px;
}

.checkboxLabel:hover {
    color: rgb(228, 238, 255);
    /* width: 9%; */
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(0, 85, 243);
}

.checkboxTitle {
    margin-right: 10px;
    margin-left: 3px;
}

.checkbox {
    float: right;
}







/* CARD ITEM */

.cardDiv{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    overflow: scroll;
    max-width: 100%;
    /* width: 150px; */
}

.card {
    margin-right: 10px;
}

.cardViewImage {
    max-width: 100px
}

.cardViewImage:hover {
    max-width: 150px;
}

.cardViewName {
    font-weight: bold;
    text-align: center;
}

.cardModal {

}


.cardModalName {
    text-align: center;
    font-size: 40px;
    color: rgb(219, 219, 219);
    font-weight: bold;
}

.cardModalContentField {
    display:flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    /* max-width: 300px; */
}
.cardModalImage {
    max-width: 300px;
    max-height: 400px;
    margin-right: 20px;
}


.cardModalAttacksField {
    display:flex;
    flex-direction: column
}

.cardModalAttacksTitle {
    font-size: 20px;
    color: rgb(219, 219, 219);

}

.cardModalAttacks {
    font-size: 20px;
    color: rgb(219, 219, 219);

}

.cardModalAttacksEnergyCost {
    color: rgb(219, 219, 219);

}

.cardModalAttacksText {
    color: rgb(219, 219, 219);

}

.cardModalEnergyField {
    display:flex;
    flex-direction: column

}

.cardModalContentTitle {
    font-size: 20px;
    color: rgb(219, 219, 219);
}

.cardModalText {
    color: rgb(219, 219, 219);
}


.cardModalTrainerField {
    display:flex;
    flex-direction: column

}