
/* SEARCH COMPONENTS */

.searchTitle{
    font-weight: bold;
    text-align: center;
    font-size: 280%;
    color: white;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.checkboxPokemonDiv {
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.checkboxEnergyDiv {
    display: flex;
}

.checkboxTrainerDiv {
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.filterLabel {
    font-weight: bold;
}

.checkboxLabel {
    display:flex;
    font-weight: bold;
    font-size: 60%;
    color: rgb(228, 238, 255);
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(33, 109, 250);
    margin-top: 10px;
    margin-right: 20px;
}

.checkboxLabel:hover {
    color: rgb(228, 238, 255);
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(0, 85, 243);
}

.checkboxTitle {
    margin-right: 10px;
    margin-left: 3px;
}

.checkbox {
    float: right;
}

.searchInput {
    margin-left: 430px;
}

.resultsDiv {
    margin-left: 300px;
}

.results {
    margin-left: 410px;
    margin-top: 100px;
    color: white;
}

.noResults {
        margin-left: 420px;
        margin-top: 100px;
        color: white;
}






/* CARD ITEM */

.cardDiv{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    max-width: 150%;
}

.card {
    margin-right: 10px;
}

.cardViewImage {
    max-width: 100px
}

.cardViewImage:hover {
    max-width: 150px;
}

.cardViewName {
    font-weight: bold;
    text-align: center;
}

.cardModal {
/* width: 800px; */
}


.cardModalName {
    text-align: center;
    font-size: 40px;
    color: rgb(219, 219, 219);
    font-weight: bold;
}

.cardModalContentField {
    display:flex;
    justify-content: space-evenly;
}
.cardModalImage {
    max-width: 300px;
    max-height: 400px;
    margin-right: 20px;
}


.cardModalAttacksField {
    display:flex;
    flex-direction: column
}

.cardModalAttacksTitle {
    font-size: 20px;
    color: rgb(219, 219, 219);

}

.cardModalAttacks {
    font-size: 20px;
    color: rgb(219, 219, 219);

}

.cardModalAttacksEnergyCost {
    color: rgb(219, 219, 219);

}

.cardModalAttacksText {
    color: rgb(219, 219, 219);

}

.cardModalEnergyField {
    display:flex;
    flex-direction: column

}

.cardModalContentTitle {
    font-size: 20px;
    color: rgb(219, 219, 219);
}

.cardModalText {
    color: rgb(219, 219, 219);
}


.cardModalTrainerField {
    display:flex;
    flex-direction: column

}


/* MODAL */

.theWholeModal {

}

.modalBackground{

}

.pokemonActions {
    display: flex;
    flex-direction: column;
}

.abilityTitle {
    font-size: 20px;
    color: white;
}

.abilityType {
    color: white;
}

.abilityName {
    color: white;
}

.abilityText {
    color: white;
}