.decksArea{
display:flex;
width: 80%;
flex-direction: row;
overflow: scroll;

}

.deckDiv {
    width: 130px;
    margin-right: 50px;
    height: 110%;

}

.deckCoverImage {
    width: 100%;
}

.deckMVPImage {
    width: 30px;
    float: right;
    margin-left: 10px;

}

.deckMVP {
    font-size: 10px;
}

.deckSub {
    font-size: 5px;
}

.deckNameDiv {
    /* size:50px; */
}

.deckName {
    overflow: auto;
    height: 30px;
    margin-top: -10%;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.deckDate {
    margin-left: 5px;
    font-size: 10px;
}



/* INSIDE DECK */

.emptyDeck {
    text-align: center
}



.deckModal {

    height: 530px;
}

.wrap {
    margin-top: -330px;

}

.allCardsInDeck {


}

.deckModalContentField {
    display: flex;
}

.deckModalName {
    text-align: center;
    font-size: 40px;
    color: rgb(219, 219, 219);
    font-weight: bold;
}

.deckCard {

    width: 60px;
    position: absolute;
    z-index: 1;
}

.deckCard:hover {

    width: 100px;
    z-index: 2;
}

.deckModalText {
    float: left;
    color: rgb(227, 235, 250);
    margin-left:80px;
}

.descriptionText {
    text-align: center;
    color: rgb(227, 235, 250);
    font-weight: bold;
}

.strategyTitle {

}

.strategyText {
    color: rgb(227, 235, 250);
}

.lookAtCard {
    margin-left: 50%;
    max-width: 250px;
    position: sticky;
}

.deleteFromDeckButton {
    margin-left: 50%;
    max-width: 200px;
    position: sticky;
}

.deleteFromCollectionButton {

}