.decksArea{
display:flex;
border: 3px solid black;
width: 100%;
flex-direction: row;
overflow: scroll;

}

.scrollRightMessage {
    font-weight: bold;
    color: black;
    background-color: rgb(255, 247, 175);
}

/* DECK ITEM */

.deckItself {
    margin-left: 70px;
}

.deckDiv {
    width: 130px;
    margin-right: 50px;
    height: 110%;

}

.deckImageDiv {
    position: relative;
}

.deckCoverImage1 {
    position: relative;
    width: 100%;
}

.deckCoverImage2 {
    position: absolute;
    clip-path: polygon(0 0, 0 100px, 30px 115px, 100px 20px);
    top: 0px;
    right: 0px;
    width: 100%;
}

.deckMVPImage {
    width: 30px;
    float: right;
    margin-left: 10px;

}

.deckMVP {
    font-size: 10px;
}

.deckSub {
    font-size: 5px;
}

.deckNameDiv {
    /* size:50px; */
}

.deckName {
    overflow: auto;
    height: 30px;
    margin-top: -10%;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.deckDate {
    margin-left: 5px;
    font-size: 10px;
}



/* INSIDE DECK */

.emptyDeck {
    text-align: center;
    color: white;
}



.deckModal {

    height: 530px;
}

.wrap {
    margin-top: -330px;

}

.allCardsInDeck {


}

.deckModalContentField {
    display: flex;
}

.deckModalName {
    text-align: center;
    font-size: 40px;
    color: rgb(219, 219, 219);
    font-weight: bold;
}


.deckCard {

    width: 60px;
    position: absolute;
    z-index: 1;
}

.deckCard:hover {

    width: 100px;
    z-index: 2;
}

.deckModalText {
    float: left;
    color: rgb(227, 235, 250);
    margin-left:80px;
}

.descriptionText {
    text-align: center;
    color: rgb(227, 235, 250);
    font-weight: bold;
}

.strategyTitle {

}

.strategyText {
    text-align: center;
    color: rgb(227, 235, 250);
}

.lookAtCard {
    margin-left: 50%;
    max-width: 250px;
    position: sticky;
}

.deleteFromDeckButton {
    margin-left: 50%;
    max-width: 200px;
    position: sticky;
}

.deleteFromCollectionButton {

}


/* EDIT */

.editButton {
    height: 30px;
}

.editIcon {
    font-size: 30px;
    margin-left: 40px;
}

.editNameForm {
     margin-left: 180px;
}

.editDescriptionForm {
    margin-left: 180px;
}

.Icons {
    margin-left: 10px;
}

.IconCheck {
}

.IconCheck:hover {
    color: green;
}

.IconTimes {
    margin-left: 10px;
}

.IconTimes:hover {
    color: red;
}

/* NEW DECK FORM */
.newDeckFields {
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255)
}


.saveDeckButton {
    width: 10%;
}

/* DECK FORM */

.decksTitle {
    font-size: 280%;
    font-weight: bold;
    text-align: center;
    color: rgb(231, 231, 231);
}

.viewDecksTitle {
    margin-left: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.newDeckDescriptionAndStrategy {
    display: flex;
    flex-direction: column;
}

#name {
    width:30%;
    margin-left: 20px;
}

#description {
    margin-left: 20px;
    height: 55px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-height: 55px;
    min-height: 55px;
}

#strategy {
    height: 55px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-height: 55px;
    min-height: 55px;
}

.saveDeckButton {
    margin-left: 21px;
    border-radius: 10px;
}

.selectImage {
    width: 7%;
}

.deckImage {
    width: 8%;
    height: 3%;
}

.predominantEnergiesDiv {
    display: flex;
}