.decksArea {
/* background-image: url("/images/unbrokenBonds.jpg"); */
/* TRANSITION */
/* -webkit-transition: background 1s;
-moz-transition: background 1s;
-o-transition: background 1s;
transition: background 1s; */

border-radius: 10px;
background-size: 100% 100%;
background-repeat: no-repeat;
display:flex;
border: 3px solid black;
width: 100%;
height: 500px;
flex-direction: row;
overflow: scroll;
box-shadow: 5px 5px 8px black;

-webkit-animation-iteration-count: infinite;
-webkit-animation:slideShow 60s infinite;

-webkit-animation-timing-function:linear;
-webkit-animation-delay:0s;
-webkit-animation-fill-mode: forwards;

}

@keyframes slideShow {
 /* You could think of as "step 1" */
 0%{

    background-image: url("/images/unbrokenBonds.jpg");
  }
  /* You could think of as "step 2" */
  20% {

    background-image: url("/images/teamUp.jpg");
  }

  40% {

    background-image: url("/images/crimsonInvasion.jpg");
  }

  60% {

    background-image: url("/images/burningShadows.jpg") ;
  }

  80% {

    background-image: url("/images/teamUp2.jpg");
  }

  100% {

    background-image: url("/images/ultraPrism2.jpg") ;
  }


}

.divider {
  /* border: 3px solid black;
  width: 50%;
  height: 100%; */
}
/* .fadein{
    animation:fadein 1.5s;
    animation-timing-function:linear;
    animation-delay:1s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation:fadein 1.5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:1s;
    -webkit-animation-fill-mode: forwards;
  } */


/* .decksArea:after { */
    /* background-image: url("/images/pokeballWallpaper2.jpg"); */
    /* background-image: url("/images/teamUp.jpg"); */
     /* TRANSITION */
     /* -webkit-transition: background 1s;
     -moz-transition: background 1s;
     -o-transition: background 1s;
     transition: background 1s; */
    /* } */


.scrollRightMessage {
    font-weight: bold;
    color: black;
    background-color: rgb(255, 247, 175);
}

.createButtonDiv {
    display:flex;
    justify-content: center;
}

.createNewDeckButton {
    margin-top: 10px;
    width: 12%;
    height: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
    color: rgb(233, 233, 233);
    background-color: rgb(36, 118, 241);
    border-top-color: rgb(36, 118, 241);
    border-left-color: rgb(36, 118, 241);
    border-right-color: rgb(36, 118, 241);
    border-bottom-color: rgb(36, 118, 241);
}

.createNewDeckButton:hover {
    background-color: rgb(0, 84, 209);
    border-top-color: rgb(0, 84, 209);
    border-left-color: rgb(0, 84, 209);
    border-right-color: rgb(0, 84, 209);
    border-bottom-color: rgb(0, 84, 209);
}


/* DECK ITEM */

.deckItself {
    margin-left: 70px;
}

.deckDiv {
    margin-top: 30px;
    box-shadow: 5px 5px 8px black;
    width: 130px;
    margin-right: 50px;
    height: 280px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.deckImageDiv {
    position: relative;
}

.deckCoverImage1 {
    position: relative;
    width: 100%;
}

.deckCoverImage2 {
    position: absolute;
    clip-path: polygon(0 0, 0 100px, 30px 115px, 100px 20px);
    top: 0px;
    right: 0px;
    width: 100%;
}

.deckMVPImage {
    width: 30px;
    float: right;
    margin-left: 10px;

}

.deckMVPImageNone {
    width: 30px;
    height: 40px;
    float: right;
    margin-left: 10px;

}

.deckMVP {
    font-size: 10px;
}

.deckSub {
    font-size: 5px;
}

.deckNameDiv {
    /* size:50px; */
}

.deckName {
    overflow: auto;
    height: 30px;
    margin-top: -10%;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.deckDate {
    margin-left: 5px;
    font-size: 10px;
}

.inspectButton {
  font-weight: bold;
  background-color: rgb(248, 248, 185);
}

.inspectButton:hover {
  background-color: rgb(243, 243, 74);
}

.deleteButton {
  font-weight: bold;
  color: white;
  background-color: rgb(143, 27, 27);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.deleteButton:hover {
  color: white;
  background-color: rgb(99, 17, 17);
}



/* INSIDE DECK */

.emptyDeck {
    text-align: center;
    color: white;
}

.deckInfoDiv {
    background-color: black;
    border: 3px solid black;
    height: 40%;
}

.deckModal {
    border: 3px solid black;
    height: 530px;
}

.wrap {
    margin-top: -330px;

}

.allCardsInDeck {


}

.deckModalContentField {
    display: flex;
}

.deckModalName {
    text-align: center;
    font-size: 40px;
    color: rgb(219, 219, 219);
    font-weight: bold;
}


.deckCard {

    width: 60px;
    position: absolute;
    z-index: 1;
}

.deckCard:hover {

    width: 100px;
    z-index: 2;
}

.deckModalText {
    float: left;
    color: rgb(227, 235, 250);
    margin-left:80px;
}

.descriptionText {
    text-align: center;
    color: rgb(227, 235, 250);
    font-weight: bold;
}

.strategyTitle {

}

.strategyText {
    text-align: center;
    color: rgb(227, 235, 250);
}

.lookAtCard {
    margin-left: 50%;
    max-width: 250px;
    position: sticky;
}

.deleteFromDeckButton {
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 217, 0);
    border-top-color:   rgb(255, 217, 0);
    border-left-color: rgb(255, 217, 0);
    border-right-color: rgb(255, 217, 0);
    border-bottom-color: rgb(255, 217, 0);
    margin-left: 50%;
    max-width: 200px;
    /* position: sticky; */
}

.deleteFromDeckButton:hover {
    color: white;
    background-color: rgb(156, 134, 4);
    border-top-color:   rgb(156, 134, 4);
    border-left-color: rgb(156, 134, 4);
    border-right-color: rgb(156, 134, 4);
    border-bottom-color: rgb(156, 134, 4);
    margin-left: 50%;
    max-width: 200px;
    /* position: sticky; */
}

.deleteFromCollectionButton {
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(187, 3, 3);
     border-top-color:   rgb(187, 3, 3);
    border-left-color: rgb(187, 3, 3);
    border-right-color: rgb(187, 3, 3);
    border-bottom-color: rgb(187, 3, 3);
}


.deleteFromCollectionButton:hover {
    color: white;
    background-color: rgb(134, 2, 2);
    border-top-color:   rgb(134, 2, 2);
    border-left-color: rgb(134, 2, 2);
    border-right-color: rgb(134, 2, 2);
    border-bottom-color: rgb(134, 2, 2);
}

.energyType1 {
    width: 20%;
}

.energyType2 {
    width: 20%;
}

.makeMvp {
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(81, 134, 248);
    border-top-color: rgb(81, 134, 248);
    border-left-color: rgb(81, 134, 248);
    border-right-color: rgb(81, 134, 248);
    border-bottom-color: rgb(81, 134, 248);
    margin-left: 64%;
}

.makeMvp:hover {
    color: white;
    background-color: rgb(10, 87, 253);
    border-top-color: rgb(10, 87, 253);
    border-left-color: rgb(10, 87, 253);
    border-right-color: rgb(10, 87, 253);
    border-bottom-color: rgb(10, 87, 253);
}


/* EDIT */

.editButton {
    height: 30px;
}

.editIcon {
    font-size: 30px;
    margin-left: 40px;
}

.energyType1Span {
}

.editIconEnergies {
    color: white;
    font-size: 30px;
    margin-left: -50px;
}

.editNameForm {
     margin-left: 180px;
}

.editDescriptionForm {
    margin-left: 180px;
}

.editStrategyForm {
    margin-left: 180px;
}

.Icons {
    margin-left: 10px;
}

.IconCheck {
}

.IconCheck:hover {
    color: green;
}

.IconTimes {
    margin-left: 10px;
}

.IconTimes:hover {
    color: red;
}

/* NEW DECK FORM */

.newDeckFields {
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    height: 450px;
}


.saveDeckButton {
    width: 10%;
}

/* DECK FORM */

.decksTitle {
    box-shadow: 5px 5px 8px black;
    text-shadow: 5px 5px black;
    letter-spacing: 5px;
    font-size: 280%;
    font-weight: bold;
    text-align: center;
    color: rgb(231, 231, 231);
}

.viewDecksTitle {
    font-size: 23px;
    margin-left: 35%;
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
}

.newDeckDescriptionAndStrategy {
    display: flex;
    flex-direction: column;
    /* margin-left: 50%; */
}

.nameLabelForm {
    margin-left: 20%;
    font-weight:bold;
    letter-spacing: 1px;
}

#name {
    width:30%;
    margin-left: 20px;
}

#nameState {
    width:30%;
    margin-left: 215px;
}

.primaryEnergiesDiv {
    display: flex;
    justify-content: center;

}

.primaryEnergiesDiv:hover {
    display: flex;
    justify-content: center;

}

.energiesTitles {
    color: white;
}

.energyType1 {
    color: white;
}

.energyType2 {
    color: white;
    margin-left: -8%;
}

.descriptionLabel {
  font-weight: bold;
  margin-left: 20%;
 }

#description {
    margin-left: 30%;
    height: 55px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-height: 55px;
    min-height: 55px;
}

#descriptionState {
    height: 55px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-height: 55px;
    min-height: 55px;
}

.strategyLabel {
  font-weight: bold;
  margin-left: 20%
}

#strategy {
    margin-left: 30%;
    height: 55px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-height: 55px;
    min-height: 55px;
}

.saveDeckButton {
    width: 120px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 192, 24);
    margin-left: 46%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.saveDeckButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 172, 14);
  margin-left: 46%;
  border-radius: 10px;
}

.selectImage {
    width: 7%;
}

.deckImage {
    width: 10%;
    height: 100%;
}

.predominantEnergy1Div {
  margin-left: 20%;
}

.predominantEnergy {
  font-weight: bold;
}

.predominantEnergy2Div {
  margin-left: 20%;

}

.secondaryPredominantEnergy {
  font-weight: bold
}

.predominantEnergiesDiv {
  display: flex;
  margin-left: 19%;
}


/* EDIT TYPES FORM */


.editDescriptionDiv {

}

.editEnergiesDiv {
    background-color: black;
}

.energy1Tilte {
    color: white;
}

.energy2Title {
    color: white;
}

.selectImageEdit {
    width: 12%;
}

.option {
    width: 80px;
}

